<<<<<<< HEAD

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
height: 100rem;
font-family: 'Allerta', sans-serif;
font-size: 2rem;
=======
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .header {
height: 100vh;
font-family: 'Allerta', sans-serif;
>>>>>>> parent of 62cbd7c... finished project probably
background-color: rgba(255, 127, 80, 1);
text-align: center;
position: relative;
}

.header-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
<<<<<<< HEAD
letter-spacing: .4rem;  
=======
     
}

h1 {
text-transform: uppercase;
>>>>>>> parent of 62cbd7c... finished project probably
}

.imagebox {
position: relative;
height: 30vh;
background-color: bisque;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#phototext {
  z-index: 2;
  }

  #photo {
    height: 30vh;
   
    }
     


